<section class="hero-container">
  <img src="<%= hero.image %>" alt="Hero Image" class="hero-image">
   <div class="hero-text">
    <h2><%= hero.name %></h2>
    <p><%= hero.description %></p>
  </div>
</section>
