

<section class="product-info-container">
  <div class="product-info-grid">
    
    <div class="product-image-wrapper">
      <i class="bi bi-heart heart-featured"></i>
       <img class="product-bild" src="https://placehold.co/300x400.png" alt="Produktbild">
    </div>

    <div class="product-info-text">
      <h1 class="product-info-title">Lorem</h1>
      <p class="product-info-brnad">Levis</p>
      <p class="product-info-description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima eligendi ut nisi enim, fuga quibusdam neque assumenda magnam dolorem, quis voluptates! Eligendi repellendus adipisci voluptatibus similique? Expedita in ab animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquam numquam animi nulla obcaecati aliquid eius, quisquam reprehenderit repellat corrupti rem blanditiis quo totam accusamus incidunt, quia, deserunt corporis! Autem!
      </p>
      <p class="product-info-price">199 SEK</p>
      <button class="product-info-button">Lägg i varukorg</button>
    </div>

  </div>
</section>
